*{
box-sizing: border-box;
margin: 0;
padding: 5;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
header{
    background-color: rgb(39, 56, 56);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2.5%;
    color: goldenrod;
}
header li{
    float: left;
    padding: 0 20px 0 20px;
    color: #ffffff;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.current{
    color: goldenrod;
    font-size: 18px;
}
.introDuction{
    min-height: 500px;
    background-image: url(./images/giphy.gif);
    background-size: cover;
    background-repeat: repeat;
    text-align: center;
    color: #ffffff;
}

.introDuction h1{
    margin-top: 125px;
    font-size: 55px;
    margin-bottom: 10px;
}
.ex1{
    width: 850px;
    height: 400px;
}